{% extends 'docker_base.html' %}
{% block title %}主机终端{% endblock %}
{% block item-8 %}layui-nav-itemed{% endblock %}
{% block item-8-2 %}layui-this{% endblock %}
{% load i18n %}
{% block head_style %}
<style>
    .container {
        display: flex;
        height: calc(100vh - 50px - 120px);  /* 调整高度以适应 */
        overflow: hidden; 
    }
    
    .left-block{
        display: flex;
        flex-direction: column; /* 让内部元素垂直排列 */
        padding: 10px;
        width: 80%;
        height: auto;
        border: 1px solid #333;
        border-radius: 5px;
        overflow: hidden; /* 防止内容溢出导致滚动条出现 */
    }
    .right-block {
        display: flex;
        flex-direction: column; /* 让内部元素垂直排列 */
        padding: 10px;
        width: 20%;
        height: auto;
        border: 1px solid #333;
        border-radius: 5px;
        overflow: hidden; /* 防止内容溢出导致滚动条出现 */
    }
    
    .tab-header {
        border: 1px solid #444;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
    }
    
    .layui-tab-content {
        display: flex; /* 启用Flexbox */
        border: 1px solid #444;
        height: calc(100vh - 260px);
        width: 100%;
        background-color: black; /*  内容区域背景色为黑色 */
        overflow: auto; /* 添加滚动条 */
        padding: 0; /* 移除内边距 */
        margin: 0; /* 移除外边距 */
    }
    .layui-tab-item {
        width: 100%;
        border: 1px solid #444;
        max-width: 98%;
        background-color: #000;
        white-space: pre-wrap; /* 保留空格和换行符，并在必要时换行 */
        word-wrap: break-word; /* 允许长单词换行 */
        word-break: break-all; /* 强制在任何字符处换行，包括单词中间 */ 
    }
    
    .layui-tab-title {
        color: #fff;
    }
     /* 刷新按钮样式 */
     .custom-refresh-btn {
        float: right;
        background-color: white;
        border: 1px solid #e6e6e6;
        color: #333;
        border-radius: 2px;
    }

    .custom-refresh-btn:hover {
        background-color: #f2f2f2; /* 鼠标悬浮时的背景色 */
        cursor: pointer; /* 鼠标悬浮时变成手形图标 */
    }
    
</style>
{% endblock %}
{% block context %}
<span class="layui-breadcrumb">
    <a href="#">{% translate "首页" %}</a>
    <a href="#">{% translate "用户中心" %}</a>
    <a><cite>{% translate "主机终端" %}</cite></a>
</span>
<hr>
<div class="container">
    <div class="layui-panel left-block">
        <div class="tab-header">
            <!-- 选项卡的标签页模块 -->
            <div class="layui-tab" lay-filter="test-handle" lay-allowclose="true">
                <ul class="layui-tab-title"></ul>
                <!-- 选项卡的内容区域 -->
                <div class="layui-tab-content"></div>
            </div>
        </div>
    </div>
    
    <div class="layui-panel right-block">
        <!-- 新增选项卡等功能模块 -->
        <div class="layui-btn-container">
            <button class="layui-btn hostAdd" lay-event="hostAdd">{% translate "添加服务器" %}</button>
            <button class="layui-btn reloads custom-refresh-btn" id="refreshBtn" lay-event="shuaBtn">
                <i class="layui-icon layui-icon-refresh"></i>
            </button>
        </div>
        <div class="layui-col-md12">
            <table class="layui-hide" id="demo" lay-filter="test"></table>
            <!--  行工具 -->
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="auth">{% translate "连接" %}</a>
                <a class="layui-btn layui-btn-xs" lay-event="more">{% translate "更多" %}<i class="layui-icon layui-icon-down"></i></a>
            </script>
        </div>
    </div>
</div>


{% endblock %}
{% block custom_js %}
<script>
    layui.use(function () {
        var form = layui.form;
        var table = layui.table;
        var element = layui.element;
        //var $ = layui.jquery;
        var layer = layui.layer;
        var util = layui.util;
        var $ = layui.$;
        var dropdown = layui.dropdown //下拉菜单

        table.render({
            elem: '#demo'
            , url: "{% url 'webssh_info_api' %}" 
            , page: true //开启分页
            , cols: [[
                { field: 'hostname', title: '服务器IP'}
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', align: "center" }
            ]],
            id: 'TT',
        });
        table.on('tool(test)', function (obj) {
            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            var data = obj.data;
            if (obj.event === 'auth') {
                layer.msg("连接中，请稍等")
                // 显示 loading 效果
                var loadingIndex = layer.load(3);
                 // 创建一个新的标签页
                var label = data.hostname +'-'+ (Math.random()*1000|0); // 使用服务器IP作为标签名
                var uniqueTerminalId = 'terminal-' + (Math.random()*1000|0); // 创建唯一ID
                var content = '<div id="' + uniqueTerminalId + '"></div>'; // 用于显示伪终端输出的div
                element.tabAdd('test-handle', {
                    title: label,
                    content: content,
                    id: label, // 使用服务器IP作为标签的唯一标识
                    change: true // 添加完毕后即自动切换
                });
                element.render('test-handle');

                function get_box_size(terminalId) {
                    //init_width和init_height是终端默认的高度和宽度
                    let init_width = 9;
                    let init_height = 18;
                    let windows_width = $('#' + terminalId).width();
                    let windows_height = $(window).height();
                    return {
                        cols: Math.floor(windows_width / init_width),
                        rows: Math.floor(windows_height / init_height),
                    }
                }
                // 初始化xterm.js终端
                let cols = get_box_size(uniqueTerminalId).cols;
                let rows = get_box_size(uniqueTerminalId).rows;
                var term = new Terminal({
                    cursorBlink: true,
                    rows: rows,
                    cols: cols,
                    useStyle: true,
                });
                
                // 连接WebSocket
                var protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
                var socketURL = protocol + window.location.host + '/apps/webssh_terminal/' + '?host_address=' + data.host_address;
                var sock = new WebSocket(socketURL);
                sock.binaryType = "arraybuffer";  // 必须设置，zmodem才可以使用

                // ZModem处理对象
                var zsession;

                // 简化的文件接收缓存。真实环境下应更复杂处理。
                var download_buffer;

                term.open(document.getElementById(uniqueTerminalId));
                // 设置WebSocket事件处理程序
                sock.onopen = function () {
                    term.on('data', function (data) {
                        let send_data = JSON.stringify({
                            'flag': 'entered_key',
                            'entered_key': data,
                            'cols': null,
                            'rows': null
                        });
                        sock.send(send_data);
                        // 关闭 loading 效果
                        layer.close(loadingIndex);
                    });
                    sock.onerror = function (event) {
                        console.log('error:' + e);
                        // 关闭 loading 效果
                        layer.close(loadingIndex);
                    };
                    sock.onmessage = function (event) {
                        term.write(event.data);
                        // 关闭 loading 效果
                        layer.close(loadingIndex);
                    };
                    sock.onclose = function (event) {
                        term.write('\n\r\x1B[1;3;31m连接关闭！\x1B[0m');
                        // 关闭 loading 效果
                        layer.close(loadingIndex);
                    };
                };

                // 监听窗口大小变化
                $(window).resize(function () {
                    let cols = get_box_size(uniqueTerminalId).cols;
                    let rows = get_box_size(uniqueTerminalId).rows;
                    let send_data = JSON.stringify({ 'flag': 'resize', 'cols': cols, 'rows': rows });
                    console.log("传递的宽度与高度：", send_data)
                    sock.send(send_data);
                    term.resize(cols, rows)
                });

            }else if (obj.event === 'more') {
                dropdown.render({
                    elem: this //触发事件的 DOM 对象
                    , show: true //外部事件触发即显示
                    , data: [{
                        title: '文件管理器'
                        , id: 'file'
                        , templet: '<span>{% translate "文件管理器" %}</span>'
                    },{
                        type: "-",
                    }, {
                        title: '编辑'
                        , id: 'edit'
                        , templet: '<span>{% translate "编辑" %}</span>'
                    }, {
                        type: "-",
                    }, {
                        title: '删除'
                        , id: 'del'
                        , templet: '<span style="color: red;">{% translate "删除" %}</span>'
                    }], click: function (menudata) {
                        if (menudata.id === 'edit') {
                            layer.msg('编辑操作，当前行 ID:' + data.host_address);
                        }else if (menudata.id === 'file') {
                            layer.open({
                                type: 2,
                                offset: 'r',
                                anim: 'slideLeft', // 从右往左
                                area: ['70%', '100%'],
                                closeBtn: true, // 1或者2表示开启关闭按钮，0表示不开启
                                title: '<span>{% translate "文件管理器" %}</span>',
                                shade: 0.1,
                                shift: 2,
                                shadeClose: false,
                                id: 'ID-demo-layer-direction-r', //2.8.0新特性，抽屉效果
                                content: '{% url "webssh_file_info" %}?host_address=' + data.host_address,
                                move: false, // 禁止拖动
                                resize: false, // 禁止调整大小
                                skin: 'white-background' // 应用自定义的背景颜色类
                            });
                        }else if (menudata.id === 'del') {
                            layer.confirm('真的要删除<span style="color: red">【'+data.hostname+'】</span>这个主机吗？</br><span style="color: red">请注意，此删除为真正意义上的删除!!!</span>', function (index) {
                                $.ajax({
                                    type: "DELETE",
                                    url: "{% url 'webssh_info_api' %}",
                                    data: data,
                                    headers: { 'X-CSRFToken': csrf_token },
                                    success: function (result) {
                                        if (result.code == '0') {
                                            obj.del();  // 临时删除当前页面记录
                                            layer.msg(result.msg, { icon: 6 })
                                        } else {
                                            layer.msg(result.msg, { icon: 5 })
                                        }
                                    },
                                    error: function () {
                                        layer.msg("服务器接口异常！", { icon: 5 })
                                    }
                                })
                            });                          
                        }

                    }
                })
            }
        });

        // 监听刷新按钮点击事件
        $('#refreshBtn').on('click', function () {
            //获取当前页码
            var currPage = $('.layui-laypage-em').next().html();
                // 进行刷新操作
                table.reload('TT', {
                    url: "{% url 'webssh_info_api' %}",
                    page: { curr: currPage }//刷新当前页码
                });
        });

        $('.hostAdd').on('click', function () {
            layer.open({
                type: 2,
                offset: 'r',
                anim: 'slideLeft', // 从右往左
                area: ['460px', '100%'],
                closeBtn: true, // 1或者2表示开启关闭按钮，0表示不开启
                title: "添加主机信息",
                shade: 0.6,
                shift: 2,
                anim: 0,
                shadeClose: false,
                id: 'ID-demo-layer-direction-r', //2.8.0新特性，抽屉效果
                content: '{% url "webssh_add_info" %}',
                move: false, // 禁止拖动
                resize: false, // 禁止调整大小
                skin: 'white-background' // 应用自定义的背景颜色类
            });
        });

    })
</script>
{% endblock %}