<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linux 文件管理器</title>
  <!-- 引入Layui CSS -->
  <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css" />
  <link href="/static/webuploader/webuploader.css" rel="stylesheet" type="text/css" />
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <style>
    .folder-name {
      background-color: #d9edff;
      padding-left: 5px;
      padding-right: 5px;
    }

    .control-btn {
      margin-right: 10px;
    }

    .return-btn {
      background-color: #CCCCCC;
      border-color: #CCCCCC;
      color: #000000;
    }

    .disabled-folder .download {
      color: gray;
      pointer-events: none;
      cursor: default;
    }
  </style>
</head>

<body>
  <!--头部选项栏-->
  <div class="layui-container">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>Linux 文件管理器 -- {{host_address}}</legend>
          <div class="layui-field-box">
            <div class="layui-form-item">
              <button id="go-back" class="layui-btn return-btn control-btn">返回</button>
              <label class="layui-form-label" style="margin-left: 20px;">当前路径：</label>
              <div class="layui-input-inline">
                <input type="text" id="current-path" value="/" readonly class="layui-input">
              </div>
              <button class="layui-btn control-btn action-btn" data-action="createDir">新建目录</button>
              <!--将上传文件按钮设为触发file input的点击事件-->
              <button class="layui-btn layui-btn-normal control-btn upload-file" id="upload"
                data-action="upload">上传文件</button>
              <!-- 实现弹出层 -->
              <button id="refresh" class="layui-btn layui-btn-normal control-btn">刷新</button>
            </div>
            <table class="layui-hide" id="file-table" lay-filter="demo"></table>
            <script type="text/html" id="barDemo">
              <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-blue download" lay-event="download">下载</a>
              <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-red delete" lay-event="delete">删除</a>
            </script>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <!-- Add this in -->
  <script src="/static/layui/layui.js"></script>
  <script src="/static/jquery-1.11.1.min.js"></script>

  <!--目录切换方法-->
  <script>
    // 初始化Layui
    layui.use(['jquery', 'element', 'table'], function (table) {  // 将 table add into callback arguments.
      var $ = layui.jquery;
      var element = layui.element;
      var table = layui.table;
      var host_address = "{{ host_address }}";
      var isProcessing = false;  // 创建全局变量用于标记是否正在处理目录

      // 在页面加载时，运行 fetchDirectoryList 函数来获取目录列表
      $(document).ready(function () {
        fetchDirectoryList();
      });

      // 目录切换事件
      $('body').on('dblclick', '.folder-name', function () {
        if (isProcessing) return;   // 如果正在处理，直接返回不做操作
        var newFolderName = $(this).text();

        if (newFolderName == '..') {
          var currentPath = $('#current-path').val();
          if (currentPath === '/') { // 已在根目录，无需再上一级  
            return;
          }

          // 分割 currentPath
          var pathParts = currentPath.split('/');

          // 移除最后一个路径部分
          pathParts.pop();

          // 特殊情况: 当只剩下 [''] 或者 [] 时， 都应该转换为 '/'
          if (pathParts.length === 0 || (pathParts.length === 1 && pathParts[0] === '')) {
            $('#current-path').val('/')
          } else {
            $('#current-path').val(pathParts.join('/'));
          }
        }
        else {
          // 如同之前的代码, 进入子文件夹
          var currentPath = $('#current-path').val();
          if (currentPath[currentPath.length - 1] !== '/') {
            currentPath += '/';
          }

          $('#current-path').val(currentPath + newFolderName);
        }

        fetchDirectoryList();
      });

      // 返回按钮事件
      $(document).ready(function () {
        fetchDirectoryList();

        $('#go-back').on('click', function () {
          var currentPath = $('#current-path').val();
          if (currentPath === '/') { // 已在根目录，无需再上一级  
            layer.msg("已经在根目录，无法再切换上一级", { icon: 5 });
            return;
          }

          // 分割 currentPath
          var pathParts = currentPath.split('/');

          // 移除最后一个路径部分
          pathParts.pop();

          // 特殊情况: 当只剩下 [''] 或者 [] 时， 都应该转换为 '/'
          if (pathParts.length === 0 || (pathParts.length === 1 && pathParts[0] === '')) {
            $('#current-path').val('/')
          } else {
            $('#current-path').val(pathParts.join('/'));
          }

          fetchDirectoryList();
        });
      });

      //手动刷新按钮
      $('#refresh').on('click', function () {
        var loadingIndex = layer.load(3); // 开启加载
        // 延迟一秒后执行关闭加载效果，并执行fetchDirectoryList函数刷新目录列表
        setTimeout(function () {
          layer.close(loadingIndex); // 关闭加载
          fetchDirectoryList(); // 刷新目录列表
        }, 3000);
      });
      
      function fetchDirectoryList() {
        layer.msg("请求中，请稍等")
        // 显示 loading 效果
        var loadingIndex = layer.load(3);
        var host_address = "{{ host_address }}";  // 将从 Django context 中传递的主机 ID 保存到变量中
        var currentPath = document.getElementById("current-path").value;  // 获取 HTML 元素中当前保存的路径

        $.ajax({
          url: "{% url 'webssh_get_directory_list' %}",
          type: "GET",
          data: {
            'path': currentPath,
            'host_address': host_address
          },
          success: function (response) {
            // 关闭 loading 效果
            layer.close(loadingIndex);
            isProcessing = false;

            // 判断返回状态，处理目录404等错误
            if (response.code === 404) {
              alert('Directory not found.');

            } else if (response.code === 200) {
              var data = response.data.files;
              // 处理数据，将 isFolder 转换成 "文件夹" 或 "文件"
              data.forEach(function (item) {
                item.isFolderText = item.isFolder ? "文件夹" : "文件";
              });
              // 数据表格列表
              table.render({
                elem: "#file-table",
                cols: [
                  [
                    {
                      field: "name", title: "名称", templet: function (row) {
                        if (row.isFolder) {
                          // 如果是文件夹，则给他加上 folder-name 类别，这样我们才能监听click事件
                          return '<div class="folder-name"><i class="layui-icon layui-icon-layer"></i>' + row.name + '</div>';
                        } else {
                          return '<i class="layui-icon layui-icon-file"></i>&nbsp;&nbsp;' + row.name;
                        }
                      }
                    },
                    { field: "size", title: "大小", align: 'center' },
                    { field: "owner", title: "用户" },
                    { field: "permissions", title: "权限" },
                    { field: "date", title: "修改日期" },
                    { fixed: 'right', title: "操作列表", toolbar: "#barDemo", width: 200, align: "center" },
                  ]
                ],
                data: data,
                done: function (res, curr, count, row) {
                  //数据表格渲染完成，回调此方法判断列表是否是文件夹
                  $('#file-table').next().find(".layui-table-body tr").each(function () {
                    // 获取当前行对应的数据
                    var row = res.data[$(this).data('index')];
                    if (row.isFolder) {
                      // 禁用当前行内的下载按钮
                      $(this).find('.download').addClass('layui-btn layui-btn-disabled').prop('disabled', true);
                    }
                  });
                }
              });
            } else {
              alert('Error: ' + response.msg);
            }
          },
          error: function (error) {
            // 关闭 loading 效果
            layer.close(loadingIndex);
            isProcessing = false;
            console.log('Error', error);
            alert('网络错误，请稍后重试。');
          }
        });
      }
      //监听行工具事件
      table.on('tool(demo)', function (obj) {
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        var data = obj.data;
        var layEvent = obj.event;
        var selectedFilePath = $("#current-path").val();
        if (obj.event === 'download') {
          layer.msg("请求中，请稍等")
          // 显示 loading 效果
          var loadingIndex = layer.load(3);

          // 利用浏览器自带的下载器进行文件下载,缺点：无法控制整个下载过程，无法做出丰富的交互体验。
          var fullPath = encodeURIComponent(selectedFilePath + '/' + data.name);
          var url = '{% url "webssh_download_file_api" %}' + "?host_address=" + host_address + '&fullPath=' + fullPath;
          
          // 创建隐藏的可下载链接
          const downloadLink = document.createElement('a');
          downloadLink.href = url;
          downloadLink.download = data.name;
          downloadLink.style.display = 'none';
          
          // 添加到DOM并模拟点击
          document.body.appendChild(downloadLink);
          downloadLink.click();
          
          // 清理DOM
          document.body.removeChild(downloadLink);
          // 关闭 loading 效果
          layer.close(loadingIndex);
          
        } else if (obj.event === 'delete') {
          layer.confirm('确认删除 <span style="color: red">'+ data.name +'</span>文件吗？</br><span style="color: red">请注意，此删除不可逆！！！', function (index) {
            layer.msg("请求中，请稍等")
            // 显示 loading 效果
            var loadingIndex = layer.load(3);
            $.ajax({
              url: '{% url "webssh_delete_file_api" %}',  // 后端处理删除的URL
              type: 'POST',
              data: { host_address: host_address, selectedFilePath: selectedFilePath, fileName: data.name },
              success: function (result) {
                if (result.code == '0') {
                    obj.del();  // 临时删除当前页面记录
                    layer.msg(result.msg, { icon: 6 })
                    // 关闭 loading 效果
                    layer.close(loadingIndex);
                } else {
                    layer.msg(result.msg, { icon: 5 })
                    // 关闭 loading 效果
                    layer.close(loadingIndex);
                }
              },
              error: function () {
                // 关闭 loading 效果
                layer.close(loadingIndex);
                layer.msg("服务器接口异常！", { icon: 5 })
              }
            });
            layer.close(index);
          });
        }

      });
    });

  </script>
  <!--文件sftp直传代码-->
  <script>
    layui.use('layer', function () {
      var layer = layui.layer;
      var host_address = "{{ host_address }}";

      $('#upload').on('click', function () {
        var selectedFilePath = $("#current-path").val();
        console.log("获取到的路径" + selectedFilePath)
        layer.open({
          type: 2,
          offset: 'r',
          anim: 'slideLeft', // 从右往左
          area: ['70%', '100%'],
          closeBtn: true, // 1或者2表示开启关闭按钮，0表示不开启
          title: "文件管理器",
          shade: 0.1,
          shift: 2,
          shadeClose: false,
          id: 'ID-demo-layer-direction-r', //2.8.0新特性，抽屉效果
          content: '{% url "webssh_upload_terminal_info" %}?host_address=' + host_address + '&selectedFilePath=' + selectedFilePath,
          move: false, // 禁止拖动
          resize: false, // 禁止调整大小
          skin: 'white-background' // 应用自定义的背景颜色类 
        });
      });
    });
  </script>
</body>

</html>