{% extends 'docker_base.html' %}
{% block title %}仓库管理{% endblock %}
{% block item-7 %}layui-nav-itemed{% endblock %}
{% block item-7-1 %}layui-this{% endblock %}
{% load i18n %}
{% block head_style %}
<style>
    /* 刷新按钮样式 */
    .custom-refresh-btn {
        float: right;
        background-color: white;
        border: 1px solid #e6e6e6;
        color: #333;
        border-radius: 2px;
    }

    .custom-refresh-btn:hover {
        background-color: #f2f2f2; /* 鼠标悬浮时的背景色 */
        cursor: pointer; /* 鼠标悬浮时变成手形图标 */
    }
    /* 保留水平行边框，移除垂直列边框 */
    .layui-table td, .layui-table th {
        border-left: none !important;
        border-right: none !important;
    }
    /* 为了保留水平行边框，确保行的顶部和底部边框保持 */
    .layui-table tr {
        border-top: 1px solid #e6e6e6 !important;
    }
    .layui-table th {
        border-top: 1px solid #e6e6e6 !important;
    }
</style>
{% endblock %}
{% block context %}
<span class="layui-breadcrumb">
    <a href="#">{% translate "首页" %}</a>
    <a><cite>{% translate "Docker镜像仓库管理" %}</cite></a>
</span>
<hr>
<div class="layui-card">
    {% csrf_token %}
    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md12">
                <input type="text" name="name" lay-verify="title" placeholder="请输入名称" class="layui-input"
                    style="width: 150px;float: left">
                <button class="layui-btn" id="searchBtn" style="float: left">{% translate "搜索" %}</button>
                <button class="layui-btn reloads custom-refresh-btn" id="refreshBtn" lay-event="shuaBtn">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </div>

            <div class="layui-col-md12">
                <table class="layui-hide" id="demo" lay-filter="test"></table>
                <!-- 自定义头部工具 -->
                <script type="text/html" id="demoTable">
                    {% if 'admin' in request.session.kube_user_role or request.user.is_superuser %}
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">{% translate "创建" %}</button>
                    {% endif %}
                </script>
                <!--  行工具 -->
                <script type="text/html" id="barDemo">
                    {% if 'admin' in request.session.kube_user_role or request.user.is_superuser %}
                        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="auth" id="auth">{% translate "详情" %}</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete" id="delete"><i class="layui-icon layui-icon-delete"></i>{% translate "删除" %}</a>
                    {% else %}
                        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="auth" id="auth">{% translate "详情" %}</a>
                    {% endif %}
                </script>
                
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script>
    layui.use('table', function () {
        var form = layui.form;
        var table = layui.table;
        var $ = layui.jquery;
        var dropdown = layui.dropdown //下拉菜单
        layer.load();
        setTimeout(function () {
            layer.closeAll('loading');
        }, 2000);
        table.render({
            elem: '#demo' // 选择table元素
            , url: "{% url 'docker_registries_api' %}"  //数据接口, namespace值从当前session中获取
            , page: true //开启分页
            , loading: true  // 分页loading
            , toolbar: '#demoTable'
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }   //全选按钮
                , { field: 'registries_name', title: '名称', sort: true }
                , { field: 'registries_auth', title: '认证', sort: true,templet: authFormat} //hide:true 隐藏某一列的信息
                , { field: 'registries_url', title: '仓库地址', sort: true }
                , { field: 'registries_createdat', title: '创建时间', sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 250, align: "center" }
            ]],
            id: 'TT',
        });

        // 连接状态格式化
        function authFormat(d) {
            if (d.registries_auth == true) {
                //给返回值加个样式
                return '<span class="layui-badge-dot layui-bg-green"></span>&emsp;<span class="layui-font-green">开启认证</span>'
            } else {
                return '<span class="layui-badge-dot status-disabled"></span>&emsp;<span class="layui-font-red">匿名</span>'
            }
        }

        //监听行工具事件
        table.on('tool(test)', function (obj) {

            var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            var data = obj.data;
            if (obj.event === 'auth') {
                layer.msg("开发中", { icon: 5 })
            } else if (obj.event === 'delete') {
                if (data.registries_name == "DockerHub" ){
                    layer.msg("系统默认镜像仓库，不能删除", { icon: 5 })
                }else{
                    layer.confirm('真的要删除<span style="color: red">【'+ data.registries_name +'】</span>这个镜像仓库吗？</br>请确认该镜像仓库已<span style="color: red">不再</span>使用', function (index) {
                        $.ajax({
                            type: "DELETE",
                            url: "{% url 'docker_registries_api' %}",
                            data: data,
                            headers: { 'X-CSRFToken': csrf_token },
                            success: function (result) {
                                if (result.code == '0') {
                                    obj.del();  // 临时删除当前页面记录
                                    layer.msg(result.msg, { icon: 6 })
                                } else {
                                    layer.msg(result.msg, { icon: 5 })
                                }
                            },
                            error: function () {
                                layer.msg("服务器接口异常！", { icon: 5 })
                            }
                        })
                        layer.close(index);
                    })
                }
            }
        });
        //监听自定义头工具栏事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        offset: 'r',
                        anim: 'slideLeft', // 从右往左
                        area: ['600px', '100%'],
                        closeBtn: false,
                        title: "创建镜像仓库",
                        shift: 2,
                        shade: 0.2,
                        shadeClose: true,
                        id: 'ID-demo-layer-direction-r', //2.8.0新特性，抽屉效果
                        content: '{% url "docker_registries_create" %}'
                    });
                    break;
                case 'yamladd':
                    layer.msg("臣尽力在做了，莫慌",{icon:5})
                    break
            }
        })
        // 监听刷新按钮点击事件
        $('#refreshBtn').on('click', function () {
            //获取当前页码
            var currPage = $('.layui-laypage-em').next().html();
                // 进行刷新操作
                table.reload('TT', {
                    url: "{% url 'docker_registries_api' %}",
                    page: { curr: currPage }//刷新当前页码
                });
        });

        // 监听搜索事件
        $(document).on('click', '#searchBtn', function () {
            var input_val = $('.layui-input').val();
            // var input_val = $("input[name='name']").val();
            table.reload('TT', {
                where: {   //设定异步数据接口的额外参数，任意设置
                    search_key: input_val
                },
                page: {
                    curr: 1  //重新从第 1 页开始
                }
            })
        });


    })
</script>
{% endblock %}