{% extends 'docker_base.html' %}
{% block title %}docker主机信息{% endblock %}
{% block item-1 %}layui-nav-itemed{% endblock %}
{% load i18n %}
{% block context %}
<span class="layui-breadcrumb">
    <a href="#">{% translate "首页" %}</a>
    <a><cite>{% translate "系统信息" %}</cite></a>
</span>
<hr>
  <div class="layui-card">
    <div class="layui-card-body">
    <div class="layui-row">
      <div class="layui-col-md12">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>{% translate "Docker 主机 信息" %}</legend>
        </fieldset>
      </div>
      <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body ">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div class="layui-icon layui-icon-template-1"></div>
                                <div class="layui-text">
                                    <div class="layui-word-aux">{% translate "容器数" %} {{connect.Containers}}</div>
                                    <div class="layui-word-main"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                      <div class="layui-card">
                          <div class="layui-card-body">
                              <div class="layui-icon layui-icon-template-1"></div>
                              <div class="layui-text">
                                  <div class="layui-word-aux">{% translate "镜像数" %} {{connect.images}}</div>
                                  <div class="layui-word-main"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
      <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div class="layui-icon layui-icon-template-1"></div>
                                <div class="layui-text">
                                    <div class="layui-word-aux">CPU {{ connect.cpu_usage}} % / {{connect.CPU_info}}{% translate "核" %}</div>
                                    <div class="layui-word-main"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div class="layui-icon layui-icon-template-1"></div>
                                <div class="layui-text">
                                    <div class="layui-word-aux">{% translate "内存" %} {{ connect.memory_usage}} % /  {{connect.total_mem}}G</div>
                                    <div class="layui-word-main"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">{% translate "主机信息" %}</div>
          <div class="layui-card-body layui-bg-gray">
            <table class="layui-table">
              <colgroup>
                <col width="50">
                <col width="50">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td>{% translate "主机名" %}</td>
                  <td>{{ connect.hostname }}</td>
                </tr>
                <!-- <tr>
                  <td>IP地址</td>
                  <td>{{ connect.address }}</td>
                </tr> -->
                <tr>
                  <td>{% translate "CPU架构" %}</td>
                  <td>{{ connect.CPU_arch }}</td>
                </tr>
                <tr>
                  <td>{% translate "内核版本" %}</td>
                  <td>{{ connect.kernel_version }}</td>
                </tr>
                <tr>
                  <td>{% translate "系统类型" %}</td>
                  <td>{{ connect.OS_type }}</td>
                </tr>
                <tr>
                  <td>{% translate "系统版本" %}</td>
                  <td>{{ connect.OS_system }}</td>
                </tr>
                <tr>
                  <td>{% translate "系统时间" %}</td>
                  <td>{{ connect.system_time }}</td>
                </tr>
                <tr>
                  <td>GitHub</td>
                  <td><a href="https://github.com/llody55/udocker" target="_blank"><img alt="Github stars" src="https://img.shields.io/github/stars/llody55/udocker.svg" title="给个start吧，求求了"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="https://img.shields.io/badge/docker-123456?logo=docker&logoColor=fff&labelColor=1c7aed" alt="docker-udocker" style="display:inline-block;margin:0.2em;">&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="https://img.shields.io/github/downloads/llody55/udocker/total.svg?logo=github" alt="Github downloads" style="max-width: 100%;">
                    <img src="https://img.shields.io/github/v/release/llody55/udocker?label=latest&labelColor=107fbc" alt="udocker version" style="max-width: 100%;">
                  </td>
                </tr>
                <tr>
                  <td>{% translate "联系方式" %}</td>
                  <td>
                    <img id="wechatIcon" alt="微信公众号" src="https://img.shields.io/badge/%E5%BE%AE%E4%BF%A1%E5%85%AC%E4%BC%97%E5%8F%B7-%E8%BF%90%E7%BB%B4%E5%AE%9E%E8%B7%B5%E5%BD%95-brightgreen" style="max-width: 100%;" title="给个关注吧，求求了">&nbsp;&nbsp;&nbsp;&nbsp;
                    <img alt="QQ" src="https://img.shields.io/badge/QQ-745719408-blue">&nbsp;&nbsp;&nbsp;&nbsp;
                    <a alt=="给个关注吧，求求了" href="#"><img alt="欢迎关注" src="https://img.shields.io/badge/Udocker-%E6%96%87%E6%A1%A3-brightblue" title="文档中心"></a>
                    <img id="largeImage" src="https://static.llody.top/images/%E8%BF%90%E7%BB%B4%E5%AE%9E%E8%B7%B5%E5%BD%95.jpg" style="display: none; position: absolute; top: XXpx; left: XXpx;" alt="大图片">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">{% translate "Docker信息" %}</div>
          <div class="layui-card-body layui-bg-gray">
            <table class="layui-table">
              <colgroup>
                <col width="50">
                <col width="50">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td>{% translate "服务端版本" %}</td>
                  <td>{{ connect.server_version }}</td>
                </tr>
                <tr>
                  <td>{% translate "客户端版本" %}</td>
                  <td>{{ connect.client_version }}</td>
                </tr>
                <tr>
                  <td>Go Version</td>
                  <td>{{ connect.go_version }}</td>
                </tr>
                <tr>
                  <td>Docker Root Dir</td>
                  <td>{{ connect.docker_dir }}</td>
                </tr>
                <tr>
                  <td>{% translate "组件信息" %}</td>
                  <td>
                    {% for c in connect.data %}
                      {{ c.components }} <br/>
                    {% endfor %}
                  </td>
                  
                </tr>
                <tr>
                  <td>{% translate "平台信息" %}</td>
                  <td>{{ connect.Platform }}</td>
                </tr>
                <tr>
                  <td>{% translate "许可证信息" %}</td>
                  <td>{{ connect.Product_License }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}
  {% block custom_js %}
  <script>
      var wechatIcon = document.getElementById("wechatIcon");
      var largeImage = document.getElementById("largeImage");

      wechatIcon.onmouseover = function() {
        largeImage.style.display = "block";
      };

      wechatIcon.onmouseout = function() {
        largeImage.style.display = "none";
      };
  </script>
  <script>
    layui.use(['element', 'layer', 'util'], function () {
      var element = layui.element
      var layer = layui.layer
      var util = layui.util
      var $ = layui.$;

      $(document).ready(function() {
        var currentVersion = "{{ version }}";
        var latestVersion = "{{ latest_version }}";
        var showNotification = "{{ show_notification }}";

        if (currentVersion !== latestVersion ) {
          // 检查是否已经显示过更新提示
          if (!localStorage.getItem('versionUpdateShown')) {
              Swal.fire({
                title: '检测到新版本！',
                html: '当前最新的版本是：<span style="color: #1e9fff;">v' + latestVersion + '</span>，点击前往升级。',
                icon: 'info',
                timer: 5000,
                timerProgressBar: true,
                showCancelButton: true,
                confirmButtonText: '前往升级',
                cancelButtonText: '暂不升级',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                width: 300,  // 设置弹出框的宽度
                height: 100,
                padding: '2em',  // 设置弹出框的内边距
                customClass: {
                    popup: 'swal2-popup swal2-modal swal2-icon-info swal2-show',
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                },
                position: 'bottom-start'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = 'https://github.com/llody55/udocker';
                }
            });

             // 设置标志，表示已经显示过更新提示
             //localStorage.setItem('versionUpdateShown', 'true');

          }else{
            console.log("已弹出，开始静默")
          }
            
        }
      });
    })
  </script>
  {% endblock %}
