{% extends 'docker_base.html' %}
{% block title %}用户中心{% endblock %}
{% block item-8 %}layui-nav-itemed{% endblock %}
{% block item-8-1 %}layui-this{% endblock %}
{% block head_style %}
  <style>
    body {
      margin: 10px;
    }
    .readonly-input {
      background-color: #e9ecef; /* 灰色背景 */
      color: #495057; /* 深色文字 */
      cursor: not-allowed; /* 显示不允许的光标 */
    }
    
    /* 标题样式 */
    .layui-card-header {
      background-color: #f2f2f2;
      /* 修改标题背景颜色 */
      color: #333;
      /* 修改标题文字颜色 */
      font-size: 16px;
      /* 修改标题文字大小 */
      border-bottom: 1px solid #e6e6e6;
      /* 在标题下方添加边框线 */
      line-height: 36px;
      /* 调整行高 */
    }
    
    /* 底部内边距样式*/
    #fixed {
      padding-bottom: 40px; /* 底部填充，值应大于或等于提交按钮的高度加上一些额外空间 */
    }
    /* 按钮的基本样式 */
    .btn-reset {
      background-color: #1e9fff; /* 绿色背景 */
      margin-top: 20px; /* 上方间隔 */
      margin-left: 20px; /* 左边间隔 */
      color: white; /* 白色文字 */
      padding: 10px 24px; /* 内边距 */
      border: none; /* 无边框 */
      cursor: pointer; /* 指针光标 */
      display: inline-block; /* 使得可以设置宽度 */
      width: 8%; /* 使按钮宽度与输入框相同 */
      box-sizing: border-box; /* 边距和内边距包含在宽度内 */
      border-radius: 4px; /* 圆角边框 */
    }
    
    /* 按钮悬停效果 */
    .btn-reset:hover {
      background-color: #45a049;
    }
    
    /* 为按钮添加上下间隔 */
    .btn-container {
      margin-top: 20px; /* 上方间隔 */
      margin-bottom: 20px; /* 下方间隔 */
    }
  </style>
{% endblock %}
{% block context %}
  <div class="layui-card">
    <div class="layui-card-body">
      <div class="layui-row">
        <div class="layui-panel">
          <div class="layui-col-md12">
            <fieldset class="layui-elem-field layui-field-title">
              <legend>重置密码</legend>
            </fieldset>
          </div>
          {% csrf_token %}
          <form class="layui-form layui-form-pane" id="add-form" action="" method="post" lay-filter="passwordResetForm">
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">重置密码</div>
                <div class="layui-card-body layui-bg-gray">
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="username" value="{{ request.user.username }}" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input readonly-input" readonly />
                    </div>
                  </div>
                  <!-- 当前密码 -->
                  <div class="layui-form-item">
                    <label class="layui-form-label">当前密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="current_password" required lay-verify="required" placeholder="请输入当前密码" autocomplete="off" class="layui-input" />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="new_password" required lay-verify="pass" placeholder="请输入新密码" autocomplete="off" class="layui-input" />
                    </div>
                    <div id="new-password-error" class="layui-form-mid layui-text-em layui-font-red"></div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="confirm_password" required lay-verify="confirmPass" placeholder="请再次输入新密码" autocomplete="off" class="layui-input" />
                    </div>
                    <div id="confirm-password-error" class="layui-form-mid layui-text-em layui-font-red"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 底部按钮 -->
            <div class="btn-container">
              <button type="submit" class="btn-reset" lay-submit lay-filter="formSubmit">重置密码</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-card">
    <div class="layui-card-body">
      <div class="layui-row">
        <div class="layui-panel">
          <div class="layui-col-md12">
            <fieldset class="layui-elem-field layui-field-title">
              <legend>WebSocket地址设置</legend>
            </fieldset>
          </div>
          {% csrf_token %}
          <form class="layui-form layui-form-pane" id="add-socket-form" action="" method="GET" lay-filter="WebSocketForm">
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">地址设置</div>
                <div class="layui-card-body layui-bg-gray">
                  <div class="layui-form-item">
                    <label class="layui-form-label">IP地址</label>
                    <div class="layui-input-inline">
                      <input type="text" name="ipv4" required lay-verify="required|ipv4" placeholder="例如：192.168.1.160" autocomplete="off" class="layui-input" />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">端口</label>
                    <div class="layui-input-inline">
                      <input type="text" name="port" required lay-verify="required|port" placeholder="例如：8000" autocomplete="off" class="layui-input" />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-form-mid layui-text-em layui-font-red">此信息存储于浏览器中</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 底部按钮 -->
            <div class="btn-container">
              <button type="submit" class="btn-reset" id="SocketFormSubmit" lay-submit lay-filter="SocketFormSubmit">设置</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block custom_js %}
  <script>
    layui.use(['form', 'layer'], function () {
      var form = layui.form
      var layer = layui.layer
      var $ = layui.jquery
      // 自定义验证规则
      form.verify({
        pass: function (value) {
          if (value.length < 6 || value.length > 12) {
            return '密码必须6到12位，且不能出现空格'
          }
        },
        confirmPass: function (value) {
          if ($('input[name=new_password]').val() !== value) {
            return '两次输入的密码不一致'
          }
        },
        ipv4: function (value, item) {
          //value：表单的值、item：表单的DOM对象
          if (!/^((25[0-5]|2[0-4]\d|1\d{2}|\d{1,2})\.){3}(25[0-5]|2[0-4]\d|1\d{2}|\d{1,2})$/.test(value)) {
            return '请输入有效的IPv4地址'
          }
        },
        // 验证端口，只能为数字且不能超过65535
        port: function (value) {
          if (!/^\d+$/.test(value)) {
            return '端口号只能为数字'
          }
          if (parseInt(value) > 65535) {
            return '端口号不能超过65535'
          }
        }
      })
      // 示例：验证失败时，在相应的容器中显示提示信息
      $('input[name=new_password], input[name=confirm_password]').on('blur', function () {
        // 验证新密码
        var newPasswordValue = $('input[name=new_password]').val()
        if (newPasswordValue.length < 6 || newPasswordValue.length > 12 || /\s/.test(newPasswordValue)) {
          $('#new-password-error').text('密码必须6到12位，且不能出现空格')
        } else {
          $('#new-password-error').text('') // 清除提示信息
        }
        // 验证确认密码
        var confirmPasswordValue = $('input[name=confirm_password]').val()
        if (newPasswordValue !== confirmPasswordValue) {
          $('#confirm-password-error').text('两次输入的密码不一致')
        } else {
          $('#confirm-password-error').text('') // 清除提示信息
        }
      })
      form.on('submit(formSubmit)', function (data) {
        var formData = new FormData($('#add-form')[0])
        // 输出所有表单数据，包括动态添加的元素
        //for (var key of formData.keys()) {
        //    console.log(key, formData.getAll(key));
        //}
        csrf_token = $('[name="csrfmiddlewaretoken"]').val()
        $.ajax({
          url: '{% url "password_reset_request" %}',
          type: 'POST',
          processData: false, // 告知jQuery不要去处理发送的数据
          contentType: false, // 告知jQuery不要去设置Content-Type请求头
          data: formData,
          headers: { 'X-CSRFToken': csrf_token },
          // 提交成功回调函数
          success: function (data) {
            if (data.code == '0') {
              layer.msg(data.success, { icon: 6, time: 500 }, function () {
                // 重新加载页面
                parent.location.reload()
              })
            } else {
              layer.msg(data.error, { icon: 5 }, { time: 5000 })
            }
          },
          // 访问接口失败函数
          error: function (data) {
            layer.msg('服务器接口异常！', { icon: 5 })
          }
        })
        return false // 阻止表单提交
      });

      $('#SocketFormSubmit').on('click', function() {
            var ipv4 = $('[name="ipv4"]').val();
            var port = $('[name="port"]').val();
            // 将WebSocket地址和端口保存到LocalStorage
            localStorage.setItem('webSocketIP', ipv4);
            localStorage.setItem('webSocketPort', port);
            
            // 提示用户设置已保存
            layer.msg("WebSocket地址设置成功: " + ipv4 + ":" + port);
        })
    })
  </script>
{% endblock %}
